body{
    background: #F4F6FC;
    font-family: sans-serif, 'Roboto';
    font-style: normal;
}

a, a:visited{
    color: black;
}

@media only screen and (max-width: 3840px){
    .header {
        display: block;
        width: 100%;
        height: 44px;
        background-color: #B73C58;
    }

    .menu-list{
        display: flex;
        align-items: center;
        padding-right: 16px;
        padding-left: 40px;
    }

    .menu-item{
        position: relative;
        bottom: 8px;
        padding-right: 24px;
        width: 24px;
    }

    .form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 162px;
    padding: 16px;
    gap: 16px;
    width:360px;
    height: 568px;
    background-color:#FDFDFD;
    border-radius:4px;
    }
}

@media only screen and (max-width: 768px){
    .header {
        display: block;
        width: 100%;
        height: 54px;
        background-color: #B73C58;
    }

    .menu-list{
        display: flex;
        align-items: center;
        padding-right: 8px;
        padding-left: 32px;
    }

    .menu-item:nth-last-child(n+2){
        position: relative;
        bottom: 8px;
        padding-right: 24px;
        width: 44px;
    }

    .form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 162px;
    padding: 16px;
    gap: 16px;
    width:360px;
    height: 568px;
    background-color:#FDFDFD;
    border-radius:4px;
    }
}

/* @media only screen and (max-width: 375px){
    .header {
        display: block;
        width: 100%;
        height: 54px;
        background-color: #B73C58;
    }

    .menu-list{
        display: flex;
        align-items: center;
        padding-right: -8px;
        padding-left: 16px;
    }

    .menu-item{
        position: relative;
        bottom: 8px;
        padding-right: 24px;
        width: 44px;
    }

    .form{
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 162px;
    padding: 16px;
    gap: 16px;
    width:360px;
    height: 568px;
    background-color:#FDFDFD;
    border-radius:4px;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    }
} */

.site-menu{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

.search-input{
    position: relative;
    bottom: 2px;
    padding: 4px 24px;
    height: 20px;
    border-radius: 4px;
    border: none;
}

.search-input::placeholder{
    position: relative;
    left: 22px;
    top: 1px;
    font-size: 16px;
}

.search-button{
    position: absolute;
    height: 16px;
    width: 16px;
    top: 4px;
    left: 16px;

    border: none;
    background-color: #ffffff00;
    background: no-repeat;
    background-image: url("../img/search.svg");
    cursor: pointer;
}

.form-other{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 40px;
    gap: 8px;

    padding: 8px 32px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    left: 2%;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.form-input{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    width: 350px;
    height: 32px;
    background-color: #FDFDFD;
    border: 1px solid #828282;
    border-radius: 4px;
    justify-content: flex-end;
    left: 2%;
    
}

.form-label{
    position: relative;
    font-weight: 600;
    font-size: 18px;    
    line-height: 24px;
    left: 2%;
}

.form-title{
    position: relative;
    left: 2%;
}

.form-text{
    position: relative;
    left: 2%;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #B73C58;
}

.form-button{
    display: flex;
    gap: 16px;
    position: relative;
    width: 105px;
    height: 36px;
    left: 35%;
    background: #B73C58;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
}

.form-policy{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    letter-spacing: 0.25px;
    left: 2%;
}

.reg-link{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    text-align: center;
}

.container{
    margin: auto;
    width:360px;
}

.main-head{
    margin-top: 84px;
}