body{
    background: #F4F6FC;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

@media only screen and (max-width: 3840px){
    .header {
        background-color: #B73C58;
    }

    .site-menu{
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-list{
        display: flex;
        gap: 24px;
        margin: 0px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0px;
        align-items: center;
    }

    .menu-item{
        height: 24px;
    }

    .menu-item svg[width]{
        height: 24px;
        height: 24px;
    }

    .search-container{
        display: grid;
        grid-template-columns: 42px 184px;
    }

    .search-input{
        box-sizing: border-box;
        height: 32px;
        border-radius: 4px;
        border: none;
        padding: 0px;
    }

    .search-input[placeholder]{
        padding-top: 3px;
    }

    .search-button{
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #FDFDFD;
        height: 32px;
        width: 48px;
        cursor: pointer;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;

        margin-top: 162px;
        padding: 16px;
        gap: 16px;
        width:360px;
        height: 568px;
        background-color:#FDFDFD;
        border-radius:4px;
    }

    .form input::placeholder{
        color: black;
    }

    .container a{
        color: black;
    }

    .container a:visited{
        color: black;
    }

    .container a.form-text{
        color:#B73C58;
    }
}

@media only screen and (max-width: 768px){
    .header {
        background-color: #B73C58;
    }

    .site-menu{
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-list{
        display: flex;
        gap: 34px;
        margin: 0px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0px;
        align-items: center;
    }

    .menu-item{
        height: 30px;
    }

    .menu-item svg[width]{
        height: 30px;
        height: 30px;
    }

    .search-container{
        display: grid;
        grid-template-columns: 42px 184px;
    }

    .search-input{
        box-sizing: border-box;
        height: 40px;
        border-radius: 4px;
        border: none;
        padding: 0px;
    }

    .search-input[placeholder]{
        padding-top: 3px;
    }

    .search-button{
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #FDFDFD;
        height: 40px;
        width: 48px;
        cursor: pointer;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;

        margin-top: 162px;
        padding: 16px;
        gap: 16px;
        width:360px;
        height: 568px;
        background-color:#FDFDFD;
        border-radius:4px;
    }

    .form input::placeholder{
        color: black;
    }

    .container a{
        color: black;
    }

    .container a:visited{
        color: black;
    }

    .container a.form-text{
        color:#B73C58;
    }
}

@media only screen and (max-width: 375px){
    .header {
        background-color: #B73C58;
    }

    .site-menu{
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-list{
        display: flex;
        gap: 24px;
        margin: 0px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0px;
        align-items: center;
    }

    .menu-item{
        height: 24px;
    }

    .menu-item svg[width]{
        height: 24px;
        height: 24px;
    }

    .search-container{
        display: grid;
        grid-template-columns: 42px 184px;
    }

    .search-input{
        box-sizing: border-box;
        height: 32px;
        border-radius: 4px;
        border: none;
        padding: 0px;
    }

    .search-input[placeholder]{
        padding-top: 3px;
    }

    .search-button{
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #FDFDFD;
        height: 32px;
        width: 48px;
        cursor: pointer;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;

        margin-top: 162px;
        padding: 16px;
        gap: 16px;
        width:360px;
        height: 568px;
        background-color:#FDFDFD;
        border-radius:4px;
    }

    .form input::placeholder{
        color: black;
    }

    .container a{
        color: black;
    }

    .container a:visited{
        color: black;
    }

    .container a.form-text{
        color:#B73C58;
    }
}

li{
    list-style: none;
}

.form-other{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 40px;
    gap: 8px;

    padding: 8px 32px;
    border: 1px solid #828282;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.form-input{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    width: 328px;
    height: 32px;
    background-color: #FDFDFD;
    border: 1px solid #828282;
    border-radius: 4px;
    justify-content: flex-end;
}

.form-label{
    position: relative;
    font-weight: 600;
    font-size: 18px;    
    line-height: 24px;
}

.form-title{
    position: relative;
    margin-top: 0px;
}

.form-text{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #B73C58;
}

.form-button{
    margin: auto;
    display: flex;
    position: relative;
    width: 105px;
    height: 36px;
    background: #B73C58;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    justify-content: center;
    align-items: center;
    color: #FDFDFD;
}

.form-policy{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 300px;
    letter-spacing: 0.25px;
}

.reg-link{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    text-align: center;
    width: 360px;
}

.container{
    margin: auto;
    width: 360px;
}

.main-container{
    width: 668px;
    margin: auto;
    padding-top: 40px;
}

.main-head{
    display: flex;
    justify-content: space-between;
}

.main-head-date{
    display: flex;
    align-items: center;
}

.main-h1{
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    margin: 0px;
    margin-bottom: 16px;
    letter-spacing: 0.5px;
}

.main-h1-date{
    display: flex;
    gap: 8px;
    color: #828282;
    align-items: center;
    letter-spacing: 0.5px;
    margin-top: 8px;
    padding-left: 24px;
}

.add-task{
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    gap: 9.5px;
    cursor: pointer;
}

.add-task-a{
    color: #828282;
    text-decoration: none;
}

.add-task-button{
    box-sizing: border-box;
    border: none;
    background-color: #F4F6FC;
    cursor: pointer;
}

.filter-list{
    display: flex;
    padding-left: 0px;
    gap: 5px;
    margin: 0px;
}
.filter-item{
    width: 141px;
    height: 36px;
    box-sizing: border-box;
    background-color:#FDFDFD;
    border: 1px solid #EFF1F3;
    border-radius: 4px;
}

.text-decor{
    text-decoration: none;
}

.filter-item-a{
    display: flex;
    gap: 8.5px;
    justify-content: center;
    padding-top: 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.priority-1{
    color: #B73C58;
}

.priority-2{
    color: #F2994A;
}

.priority-3{
    color: #2A5480;
}

.regular{
    color: #828282;
}

.section-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-head-button{
    width: 100px;
    height: 40px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #B73C58;
    background-color: aliceblue;
    letter-spacing: 0.1px;
}

.checkbox-item{
    width: 24px;
    height: 24px;
    background-color: #B73C58;
}

.list-items{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.list-item{
    display: flex;
    height: 56px;
    background-color: #FDFDFD;
    border-radius: 4px;
    align-items: center;
    padding-left: 10px;
}

.list-item-content{
}

.list-item:hover{
    background-color: #EFF1F3;
}

.section-h2-1{
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
    margin-top: 22px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.section-h2-2{
    font-weight: 600;
    font-size: 22px;
    margin: 0px;
    margin-top: 36px;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
}

.item-title{
    width: 502px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button-items{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-left: 30px;
}

.button-item{
    margin-left: 20px;
}
